@using SyllabusAutomation.Models;
@model Tuple<Grade, List<Grade>>
@{
    ViewBag.Title = "Grading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb navigation -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Grading</li>
    </ol>

    <!-- Success message displayed after adding a mission -->
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success text-danger">
            @TempData["msg"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }

    <div class="panel-group" id="accordion">
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Add New Grading
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("AddGrading", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Numerical Grade</h5>
                                        @Html.TextBoxFor(x => x.Item1.Point, new { @class = "form-control", placeholder= "40% to less than 45%", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Point, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Letter Grade</h5>
                                        @Html.TextBoxFor(x => x.Item1.Letter, new { @class = "form-control", placeholder= "C-, C, C+ ....", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Letter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Point</h5>
                                        @Html.TextBoxFor(x => x.Item1.Numerical, new { @class = "form-control", placeholder="Numbers like: 2.00, 2.25 ...", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Numerical, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a href="@Url.Action("Grading","Program", new {id = Convert.ToInt32(Session["pid"])})" class="btn btn-outline-danger">Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Save" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.data == true)
    {
        <div class="panel-group" id="accordion1">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Edit PEO
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("UpdatePEO", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.Item1.Id)


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Numerical Grade</h5>
                                        @Html.TextBoxFor(x => x.Item1.Point, new { @class = "form-control", placeholder = "40% to less than 45%", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Point, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Letter Grade</h5>
                                        @Html.TextBoxFor(x => x.Item1.Letter, new { @class = "form-control", placeholder = "C-, C, C+ ....", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Letter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Point</h5>
                                        @Html.TextBoxFor(x => x.Item1.Numerical, new { @class = "form-control", placeholder = "Numbers like: 2.00, 2.25 ...", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Numerical, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a href="@Url.Action("Grading","Program", new {id = Model.Item1.ProgramId})" class="btn btn-outline-danger">Cancel</a>
                                    @*<a onclick="window.history.back();" class="btn btn-outline-warning">Cancel</a>*@
                                    <input type="submit" class="btn btn-success" value="Update" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Display all missions of the university in a table -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            All Gradings
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Numerical Grade(%)</th>
                            <th>Letter Grade</th>
                            <th>Point</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>@(Model.Item2.IndexOf(item) + 1)</td>
                                <td>@item.Point</td>
                                <td>@item.Letter</td>
                                <td>@item.Numerical</td>
                                <td>
                                    <a href="@Url.Action("UpdateGrading", "Program", new { id = item.Id })" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <a href="@(Url.Action("ProgramList", "DepartmentDetail"))" class="btn btn-outline-danger">Program List</a>
            </div>
        </div>
    </div>

</div>

