@using SyllabusAutomation.Models;
@model Tuple<PEO, List<PEO>>
@{
    ViewBag.Title = "PEOList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb navigation -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Program Education Objectives (PEOs)</li>
    </ol>

    <!-- Success message displayed after adding a mission -->
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success text-danger">
            @TempData["msg"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }

    <div class="panel-group" id="accordion">
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Add New PEO
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("AddPEO", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Program Education Objectives (PEOs)</h5>
                                        @Html.TextAreaFor(x => x.Item1.PEO1, new { @class = "form-control", rows = "5", cols = "50", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.PEO1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a href="@Url.Action("PEOList","Program", new {id = Convert.ToInt32(Session["pid"])})" class="btn btn-outline-danger">Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Save" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.data == true)
    {
        <div class="panel-group" id="accordion1">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Edit PEO
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("UpdatePEO", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.Item1.PEOId)


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Program Education Objectives (PEOs)</h5>
                                        @Html.TextAreaFor(x => x.Item1.PEO1, htmlAttributes: new { @class = "form-control", id = "mission", name = "mission", rows = "5", cols = "50", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.PEO1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a href="@Url.Action("PEOList","Program", new {id = Model.Item1.ProgramId})" class="btn btn-outline-danger">Cancel</a>
                                    @*<a onclick="window.history.back();" class="btn btn-outline-warning">Cancel</a>*@
                                    <input type="submit" class="btn btn-success" value="Update" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Display all missions of the university in a table -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            All PEOs
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>PEO Name.</th>
                            <th>PEOs</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>PEO @(Model.Item2.IndexOf(item) + 1)</td>
                                <td class="text-justify">@item.PEO1</td>
                                <td>
                                    <a href="@Url.Action("UpdatePEO", "Program", new { id = item.PEOId })" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="@(Url.Action("ProgramList", "DepartmentDetail"))" class="btn btn-info">Program List</a>
</div>

