@using SyllabusAutomation.Models;
@model Tuple<SEE, List<SEE>>
@{
    ViewBag.Title = "SEEList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <!-- Breadcrumb navigation -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">SEEList</li>
    </ol>

    <!-- Success message displayed after adding a mission -->
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success text-danger">
            @TempData["msg"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
    }
    @{
        var course = Session["course"] as Course;
    }
    <div class="panel-group" id="accordion">
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Add New SEE for @course.CourseCode of Session: @course.Session.SessionName
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("AddSEEList", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Category Name</h5>
                                        @Html.TextBoxFor(x => x.Item1.Category, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Category, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Test Value</h5>
                                        @Html.TextBoxFor(x => x.Item1.Test, new { @class = "form-control", placeholder = "Numbers...", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Test, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a href="@Url.Action("SEEList", "Course", new {id = course.CourseId})" class="btn btn-danger">Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Save" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.data == true)
    {
        <div class="panel-group" id="accordion1">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Edit SEEList for @course.CourseCode of Session: @course.Session.SessionName
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("UpdateSEEList", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.Item1.SEEId)


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Category Name</h5>
                                        @Html.TextBoxFor(x => x.Item1.Category, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Category, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Test Value</h5>
                                        @Html.TextBoxFor(x => x.Item1.Test, new { @class = "form-control", placeholder = "Numbers...", required = "required" })
                                        @Html.ValidationMessageFor(x => x.Item1.Test, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a href="@Url.Action("SEEList", "Course", new {id = course.CourseId})" class="btn btn-danger">Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Update" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Display all missions of the university in a table -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            All SEEList for @course.CourseCode of Session: @course.Session.SessionName
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-info pull-right fa fa-plus">Add New</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Bloom's Category</th>
                            <th>Test</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>@(Model.Item2.IndexOf(item) + 1)</td>
                                <td class="text-justify">@item.Category</td>
                                <td>@item.Test</td>
                                <td>
                                    <a href="@Url.Action("UpdateSEEList", "Course", new { id = item.SEEId})" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <a class="btn btn-info" href="@Url.Action("CourseList", "Teacher")">Go To CourseList</a>
            </div>
        </div>
    </div>
   
</div>
